<div class="col-md-6" style="background-color: rgb(245,245,245)">
    <div class="breadcrumbs">
        <a   routerLink="/">Home</a> / Setup - Projects - <a [routerLink]="['./../../phase']"> Phase </a> - Phase Test  </div>
</div>
<div class="clearfix"></div>


<form class="page-container">
    <div class="row col-lg-12 col-md-12">
        <simple-dock (onDocEvent)="handleDocEvent($event)" [dock]="dock" [isRowSelected]="id > 0 || headerSelected ? true : false"
            [isComponentLoaded]="isComponentloaded"></simple-dock>
    </div>

    <form class="row" [formGroup]="listFormGroup">
        <div class="col-lg-1"> </div>
        <div id="divTest" class="col-lg-6 dock-after" style="display:none;">
            <div class="col-lg-12 col-md-12">
                <div class="col-sm-12">
                    <select id="selectpicker" class="selectpicker" data-live-search="true" formControlName="testId">
                        <option value="">Select Test</option>
                        <option class="special" *ngFor="let item of phaseItemsModel;let index = index" [value]="item.id">{{item.testName}} </option>
                    </select>
                </div>
            </div>
            <br>

            <div class="col-lg-12">
                <div class="col-lg-12">
                    <mat-checkbox formControlName="reviewRequired">Review Required</mat-checkbox>
                </div>
            </div>
            <div class="col-lg-12">
                <mat-form-field class="col-md-12">
                    <input matInput type="text" placeholder="Task Code" formControlName="billingProjectTask">
                </mat-form-field>

            </div>
            <div class="col-lg-12">
                <mat-form-field class="col-md-12">
                    <input matInput type="text" placeholder="Expenditure Type" formControlName="billingExpenditureType">
                </mat-form-field>

            </div>
            <div class="col-lg-12">
                <mat-form-field class="col-md-12">
                    <input matInput type="text" placeholder="Expenditure Org" formControlName="billingExpenditureOrg">
                </mat-form-field>

            </div>
            <div class="col-lg-12">
                <mat-form-field class="col-md-12">
                    <input matInput type="text" placeholder="scoring state" formControlName="scoringState">
                </mat-form-field>

            </div>
            <div class="col-lg-12">
                <mat-form-field class="col-md-12">
                    <input matInput type="number" placeholder="test order" formControlName="testOrder">
                </mat-form-field>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="col-sm-12">
                    <select id="selectpicker" class="selectpicker" formControlName="parentTestId" data-live-search="true" >
                        <option value="">Select Parent Test</option>
                        <option class="special" *ngFor="let option of parentTestTypeModel" [value]="option.id">{{option.testName}} </option>
                    </select>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
        <div class="col-lg-4"> </div>
    </form>

    <div id="divTable" class="col-lg-12 col-md-12 dock-after">
            <!-- (onTableEvent)="handleTableEvent($event)" -->
        <dynamic-table [hidden]="false" [key]="'id'" [details]="details" (onTableEvent)="handleTableEvent($event)" ></dynamic-table>
    </div>
</form>