// component css goes here
.maxWidthForLists
{
    max-width: 200px;
    }
    .lazySelectWidth{
    width: 300px;
    }
    .button{
    width: 65px;
    }
    .select{
    width:150px;
    }
    .inlineBlock{
    display:inline-block;
    }