.topMarginRemovethis{
    margin-top : 130px;
}
.mat-form-field{
    width: 100% !important;
}
.upperForm{
    margin-bottom: 65px;
    margin-top:120px;
}
.matContainerPadding{
    padding: 15px;
}
.lowerForm{
    margin-bottom: 25px;
}
thead{
    font-weight: bold;
}
td{
    border: 1px solid lightgray;
}
.delIcon{
    color:red;
}
.matContainer{
    margin-bottom: 20px;
}
.fixed{
    position:fixed;
    z-index: 9999;
}
.lowerForm{
    margin-top:60px;
}
.disabledInput{
    text-align: center;
    margin-top: 12px;
}