<div class="container-fluid topMarginRemovethis">
  <mat-card class="matContainer">
    <div class="matContainerPadding">
      <mat-card-title>
        <h3 class="text-center">Add/Edit Phase Variable Calculations</h3>
      </mat-card-title>
      <simple-dock (onDocEvent)="handleDocEvent($event)" [dock]="dock" [isComponentLoaded]="true" [callApplyChanges]="true" class="fixed"></simple-dock>
      <form [formGroup]="formGroup">
        <div formArrayName="list" *ngFor="let formItem of formGroupCast(); let i = index;">
          
            <div [formGroupName]="i">
                <div fxLayout fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="15px" fxLayoutGap.xs="0">
              <mat-form-field fxFlex>
                <input type="text" matInput placeholder="Options" formControlName="option">
              </mat-form-field>
              <mat-form-field fxFlex>
                <mat-select placeholder="Select Test" formControlName='mappedOption'>
                  <mat-option *ngFor="let dropdownItem of mappedDropdownList" [value]="dropdownItem.lkp_lookup_value_id">
                    {{ dropdownItem.value_description }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field fxFlex>
                <input type="text" matInput placeholder="Options" formControlName="count">
              </mat-form-field>
            </div>
          </div>
        </div>
      </form>
    </div>
  </mat-card>
</div>
<app-loader [hidden]="!loading"></app-loader>