<div class="col-md-6" style="background-color: rgb(245,245,245)">
    <div class="breadcrumbs">
        <a routerLink="/">Home</a> / Portal Management - Study Requirements</div>
</div>
<div class="clearfix"></div>
<form class="page-container">
    <div class="row col-lg-12 col-md-12">
        <simple-dock (onDocEvent)="handleDocEvent($event)" [dock]="dock" [isRowSelected]="id > 0 || headerSelected ? true : false"
            [isComponentLoaded]="isComponentloaded"></simple-dock>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-12">&nbsp;</div>
    <div class="col-md-6 dock-after" style="background-color: rgb(245,245,245)">
        <div class="firstbreadcrumb">
            Information and Portal Requirements
        </div>
    </div>
    <div class="col-sm-12">&nbsp;</div>
    <form class="row col-lg-12" [formGroup]="listFormGroup">
        <div class="row col-lg-12">
            <div class=" col-lg-12">
                <mat-card class="matContainer">
                    <div class="matContainerPadding">
                        <!-- <textarea [froalaEditor]="editorOptions" formControlName="htmlRequirements"></textarea> -->
                        <ckeditor [config]="ckEditorConfig" formControlName="htmlRequirements" debounce="500"></ckeditor>
                        <mat-error *ngIf="listFormGroup.get('htmlRequirements').errors && listFormGroup.get('htmlRequirements').touched">Please define message template</mat-error>
                    </div>
                </mat-card>
            </div>
        </div>
    </form>
    <div class="col-sm-12">&nbsp;</div>
 
</form>